.cont{
align-items: center;
  height:70%;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top:100px;
  margin: auto;
}
.cont .checkbox {
  font-weight: 400;
}

.cont .form-floating:focus-within {
  z-index: 2;
}

.cont input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.cont input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
