<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
            crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="css/join.css" type="text/css" rel="stylesheet">
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="header.html"></div>
<main  class="container">
  <div class="mt-5 text-start ">
    <h2>자유게시판</h2>
    <p>자유롭게 소통하세요!</p>
  </div>
  <div>
    <table class="table text-center w-100">
      <thead>
      <tr class="bg-dark text-white fw-normal">
        <th scope="col" class="py-3 "></th>
        <th scope="col" class="py-3 fw-normal">제목</th>
        <th scope="col" class="py-3 fw-normal">작성자</th>
        <th scope="col" class="py-3 fw-normal">작성일</th>
        <th scope="col" class="py-3 fw-normal">조회수</th>
        <th scope="col" class="py-3 fw-normal">좋아요</th>
      </tr>
      </thead>
      <tbody class="fs-6">
      <tr>
        <th scope="row">1</th>
        <td>2021 그램16 리뷰</td>
        <td>joo</td>
        <td>2021.10.17</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>질문</td>
        <td>joo</td>
        <td>2021.10.17</td>
        <td>1</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>2021 그램16 리뷰</td>
        <td>joo</td>
        <td>2021.10.17</td>
        <td>1</td>
        <td>2</td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="overflow-hidden">
    <button type="button" class="btn btn-outline-dark pull-right" onclick="location.href='/review/new'">글쓰기</button>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm ">
      <li class="page-item">
        <a class="page-link text-dark border-0" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link text-dark border-0" href="#">1</a></li>
      <li class="page-item"><a class="page-link text-dark border-0" href="#">2</a></li>
      <li class="page-item"><a class="page-link text-dark border-0" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link text-dark border-0" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</main>
<div th:insert="footer.html"></div>
</body>
</html>